# from my.telegram.org/apps
API_ID=33591348
API_HASH=d138b2ec1432ef7da497e8e3d451140b

# from @BotFather on telegram
BOT_TOKEN=8618018315:AAF6yEd9lWIv0R4Js2sx4yAq6ww9NyWyAfU
LOGGER_ID=-1003802701610

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://shnwazdeveloperx:shnwazdev@shnwazdev.sqmwbgl.mongodb.net/?appName=shnwazdev

OWNER_ID=5940554521

# pyrogram session from @StringFatherBot on telegram
SESSION=AQIAkDQArcs9ZlylN_tKyJT9s_pIZ3GJo5VKLQzg8rBOevUYITa-q6mA27wTg84T_bHf4PdtzvAV2N5hOrww6HcMNrNHWU2S0ackMapgQqlvCy51mySpy7D-4iTStyIl7frKg8bSCv7v4hdjkHGKx5F9_W6r9EylqrZQWnL2wtBMDHNTTllE6sd8TrifNYLXKxewBXSO3LmZDcsOGddx6GfdrvRNK0pfxvbUFPuuPdDc80xQC2itZeQjjlhMA6YrxLMMo1PHV2VPLlxqTiuPESX3JXldJSXVXWfUk1d0lxNIaTilePMO3BJ4X9DaRcAYQlF2MW0zhiTEqk8uZgovREbYRkWzdAAAAAHl24pVAA
